<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="about-section-container">
      <div class="about-background-image-container">
        <div id="About-svg"></div>
      </div>
      <div class="about-section-image-container">
        <img src="static/image/about-background-image.png" alt="" />
      </div>
      <div class="about-section-text-container">
        <h1 class="primary-heading">Donate Blood Today and Save Lives!</h1>
        <p class="primary-text">
          Blood is a vital component of human life, responsible for transporting
          oxygen, nutrients, and hormones to various parts of the body. However,
          for some individuals, the lack of blood or certain components of it
          can be life-threatening. That is why blood donation is a crucial
          aspect of healthcare. By donating blood, one can potentially save the
          life of another individual in need. The process of donating blood is
          relatively simple, and it can be done in a safe and controlled
          environment. Thus, it is essential for those who are eligible to
          donate blood to consider doing so regularly. The act of donating blood
          is a selfless act that can make a significant difference in the lives
          of others.
        </p>

        <div class="about-buttons-container">
          <button class="secondary-button">Learn More</button>
        </div>
      </div>
    </div>
    <script src="static/JS/master.js"></script>
  </body>
</html>
