{%load static%} {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link href="{% static "css/master.css "%}"rel="stylesheet" media="all">
  </head>
  <body id="app">
    {% include "blood/navbar.html" %}
    <div class="loginForm-container">
      <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
      </div>
      <form class="loginForm" method="POST">
        {% csrf_token %}
        <h3>Admin Login</h3>

        <label for="username">Username</label>
        {% render_field form.username class="inputSection" type="text" placeholder="Username" id="username" %}
    

        <label for="password">Password</label>
        {% render_field form.password class="inputSection"  placeholder="Password"   type="password"  id="password" %}
       

        <button class="Login-button">Log In</button>
      </form>
    </div>
  </body>
</html>
