<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  .footerIconLogo{
  font-size: 1.5rem;
  cursor: pointer;
}
</style>
<body>
    <div class="footer-wrapper">
        <div class="footer-section-one">
          <div class="footer-logo-container">
          <img class='FooterMainLogo' src="../static/image/MainLogo.png" alt="">
          </div>
          <div class="footer-icons">
            <i class='footerIconLogo bx bxl-twitter'></i>
            <i class='footerIconLogo bx bxl-linkedin'></i>
            <i class='footerIconLogo bx bxl-instagram'></i>
            <i class='footerIconLogo bx bxl-facebook'></i>
          </div>
        </div>
        <div class="footer-section-two">
          <div class="footer-section-columns">
            <span>Text</span>
            <span>Text</span>
            <span>Text</span>
            <span>Text</span>
            <span>Text</span>
            <span>Text</span>
          </div>
          <div class="footer-section-columns">
            <span>000-0000-000</span>
            <span>email@gmail.com</span>
            <span>email@gmail.com</span>
            <span>email@gmail.com</span>
          </div>
          <div class="footer-section-columns">
            <span>Terms & Conditions</span>
            <span>Privacy Policy</span>
          </div>
        </div>
      </div>
</body>
</html>