<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="home-container">
      <div class="home-banner-container">
        <div class="home-bannerImage-container">
          <div id="Home-svg"></div>
        </div>
        <div class="home-text-section">
          <h1 class="primary-heading">BLOOD BANK</h1>
          <p class="primary-text">
            Blood bank a facility that collects, processes, and stores blood and
            blood products from voluntary donors for transfusion to patients in
            need. The main purpose of a blood bank is to ensure that an adequate
            supply of safe blood and blood components is available at all times
            to meet the needs of patients who require transfusion.
          </p>
          <a href="/donor/donorlogin">
            <button class="secondary-button">Register <FiArrowRight /></button
          ></a>
        </div>
        <div class="home-image-section">
          <img
            id="Home-banner-Img"
            src="static/image/home-banner-image.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </body>
</html>
