<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="work-section-wrapper">
      <div class="work-section-top">
        <h1 class="primary-heading">Blood Donation Procedure</h1>
        <p class="primary-text">
          Blood donation is the process of voluntarily giving blood, usually
          through a needle inserted into a vein in the arm. Donated blood is
          used for various medical purposes, including treating injuries and
          illnesses, performing surgeries, and supporting patients undergoing
          cancer treatments.
        </p>
      </div>
     <!-- appending by js  -->
      <div class="work-section-bottom"></div>
    </div>
  </body>
</html>
