{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link href="{% static "css/Admin.css "%}"rel="stylesheet" media="all">
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="/" class="brand">
        <img class="bx MainDropLogo" src="../static/image/DropMainLogo.png" alt="">
        <!-- my logo symbol -->
        <img class='text MainHalfLogo' src="../static/image/HalfMainLogo.png" alt="">
      </a>
      <ul class="side-menu top">
        <li>
          <a id="dashboard-link" href="/">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Home</span>
          </a>
        </li>

        <li>
          <a href="/donor/donate-blood">
            <i class="bx bxs-user"></i>
            <span class="text">Donate Blood</span>
          </a>
        </li>
        <li>
          <a href="/donor/donation-history">
            <i class="bx bxs-box"></i>
            <span class="text">Donation History</span>
          </a>
        </li>
        <li>
          <a href="/donor/make-request">
            <i class="bx bxs-donate-blood"></i>
            <span class="text">Blood Requests</span>
          </a>
        </li>
        <li>
          <a href="/donor/request-history">
            <i class="bx bx-history"></i>
            <span class="text">Request History</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="/logout" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>{% block content %} {% endblock content %}</main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script>
      const allSideMenu = document.querySelectorAll(
        "#sidebar .side-menu.top li a"
      );
      const dashboardLink = document.querySelector("#dashboard-link");

      allSideMenu.forEach((item) => {
        item.addEventListener("click", function () {
          allSideMenu.forEach((i) => {
            i.parentElement.classList.remove("active");
          });
          item.parentElement.classList.add("active");

          if (item === dashboardLink) {
            dashboardLink.parentElement.classList.add("active");
          } else {
            dashboardLink.parentElement.classList.remove("active");
          }

          toggleActiveLink(); // Call the function to update the active link
        });
      });

      // TOGGLE SIDEBAR
      const menuBar = document.querySelector("#content nav .bx.bx-menu");
      const sidebar = document.getElementById("sidebar");

      menuBar.addEventListener("click", function () {
        sidebar.classList.toggle("hide");
      });

      const searchButton = document.querySelector(
        "#content nav form .form-input button"
      );
      const searchButtonIcon = document.querySelector(
        "#content nav form .form-input button .bx"
      );

      function toggleSidebar() {
        const sidebar = document.getElementById("sidebar");
        if (window.innerWidth < 768) {
          sidebar.classList.add("hide");
        } else {
          sidebar.classList.remove("hide");
        }
      }

      // Call the function on window resize
      window.addEventListener("resize", toggleSidebar);

      // Get the current URL path
      const path = window.location.pathname;

      // Find the link that matches the path
      const link = document.querySelector(
        `#sidebar .side-menu.top li a[href="${path}"]`
      );

      // If a matching link is found, add the active class to its parent element
      if (link) {
        link.parentElement.classList.add("active");
      }

      function toggleActiveLink() {
        const allSideMenu = document.querySelectorAll(
          "#sidebar .side-menu.top li a"
        );
        const currentUrl = window.location.href;
        const dashboardUrl = dashboardLink.getAttribute("href");

        allSideMenu.forEach((link) => {
          const linkUrl = link.getAttribute("href");
          if (currentUrl === dashboardUrl && link === dashboardLink) {
            link.parentElement.classList.add("active");
          } else if (currentUrl.includes(linkUrl)) {
            link.parentElement.classList.add("active");
          } else {
            link.parentElement.classList.remove("active");
          }
        });
      }

      toggleActiveLink(); // Call the function initially to set the active link based on the current URL
    </script>

    <script
      src="https://kit.fontawesome.com/11f383112f.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
